<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Conflictos</title>
    <style>
        table { border-collapse: collapse; width: 80%; margin: 20px auto; }
        th, td { border: 1px solid #999; padding: 8px; text-align: left; }
        th { background: #f2f2f2; }
    </style>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>

<h1>Lista de Conflictos</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Fecha inicio</th>
        <th>Estado</th>
        <th>Descripción</th>
        <th>Países</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="c : ${llistaConflicts}">
        <td th:text="${c.id}"></td>
        <td th:text="${c.nombre}"></td>
        <td th:text="${c.fechaInicio}"></td>
        <td th:text="${c.estado}"></td>
        <td th:text="${c.descripcion}"></td>
        <td>
            <span th:each="p : ${c.paises}"
                  th:text="${p.nombre} + ' '"></span>
        </td>
    </tr>
    </tbody>
</table>

<br>
<div class="t">
    <a href="/">Index</a>
</div>
</body>
</html>
